SATOSA/
*/__pyc__/*
example/logs/*.log
example/metadata/*.md
example/data/*
example/private/*
*.pyc
*pyFF_example/info.log
*pyFF_example/error.log
*pyFF_example/access.log
*pyFF_example/md*
*pyFF_example/*pid
*pyFF_example/*sqlite
*pyFF_example/.whoosh
*pyFF_example/garr
*pyFF_example/entities
example_sp/djangosaml2_sp/sqlite3.db
project/*
