# this project still needs pplnx's forks
git+https://github.com/peppelinux/pysaml2.git@pplnx-v7.4.2
git+https://github.com/peppelinux/SATOSA.git@pplnx-v8.4.0

pymongo
satosa_oidcop >= 2.0.0
uwsgi
jinja2
