# this project still needs pplnx's forks
git+https://github.com/peppelinux/pysaml2.git@pplnx-v7.4.2
git+https://github.com/peppelinux/SATOSA.git@pplnx-v8.4.0

# OpenID Connect OP
pymongo
satosa_oidcop >= 2.0.0

uwsgi
jinja2

# Wallet RP
# pyeudiw[satosa,federation]
pyeudiw

Pillow>=10.0.0,<10.1
device_detector>=5.0,<6
satosa>=8.4,<8.6
jinja2>=3.0,<4
pymongo # >=4.3,<4.5
requests # >=2.2,<2.3
asyncio
aiohttp>=3.9,<3.10
sd-jwt
