{% extends "base.html" %}
{% load static %}
{% block tab_active %} active{% endblock %}
{% block container %}
<section id="head-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1 order-lg-2">
          <img src="{% static 'djangosaml2_sp/img.jpg' %}"title="titolo immagine" alt="descrizione immagine" class="img-fluid">
        </div>
        <div class="col-lg-5 order-lg-1">
          <div class="card">
            <div class="card-body pb-5">
              <div class="category-top">
                <svg class="icon">
                  <use xlink:href="{% static '/bootstrap-italia/dist/svg/sprites.svg#it-calendar' %}"></use>
                </svg>
                <a class="category" href="#">Notizie</a>
                <span class="data">18 mag 2023</span>
              </div>
              <h1 class="h4 card-title">Parte l'estate con oltre 300 eventi in centro e nei quartieri, tutti gli eventi previsti</h1>
              <p class="card-text">
                Inaugurazione lunedì 2 luglio con il concerto gratuito in piazza XX Settembre degli Sweet Soul Revue. Sul palco 20 musicisti da tutto il mondo.
              </p>
              <div class="chip chip-simple chip-primary">
                <a href="#" class="chip-label">Estate in città</a>
              </div>
              <a class="read-more pb-3" href="#">
                <span class="text">Tutte le novità</span>
                <svg class="icon">
                  <use xlink:href="{% static '/bootstrap-italia/dist/svg/sprites.svg##it-arrow-right' %}"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}