services:
  satosa-mongo:
    image: mongo
    container_name: satosa-mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: oidcop
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_DBUSER:-satosa}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_DBPASSWORD:-thatpassword}"
    volumes:
      - mongodata:/data/db
      - /usr/share/zoneinfo/Europe/Rome:/etc/localtime:ro
      - ./mongo/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
    ports:
      - '27017-27019:27017-27019'
    networks:
      - satosa-saml2spid

  satosa-mongo-express:
    image: mongo-express
    container_name: satosa-mongo-express
    restart: always
    ports:
      - 8082:8081
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: satosauser
      ME_CONFIG_BASICAUTH_PASSWORD: satosapw
      ME_CONFIG_MONGODB_ADMINUSERNAME: "${MONGO_DBUSER:-satosa}"
      ME_CONFIG_MONGODB_ADMINPASSWORD: "${MONGO_DBPASSWORD:-thatpassword}"
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_DBUSER:-satosa}:${MONGO_DBPASSWORD:-thatpassword}@satosa-mongo:27017/
    networks:
      - satosa-saml2spid
  ## START: PARTE NUOVA
  django_sp:
    build: 
        context: ../      
        args: 
            - NODE_ENV=local        
        dockerfile: example_sp/django.Dockerfile
    container_name: django_sp
    #restart: always
    working_dir: /django_sp
    entrypoint: "sh ../entrypoint.sh"
    volumes:
       - /usr/share/zoneinfo/Europe/Rome:/etc/localtime:ro
       - ../example_sp/djangosaml2_sp:/django_sp:rw
    ports:
      - "8000:8000"
    networks:
      - satosa-saml2spid
## END: PARTE NUOVA
  satosa-saml2spid:
    image: ghcr.io/italia/satosa-saml2spid:latest
    #image: satosa-saml2spid:latest
    #build: 
    #    context: ../      
    #    args: 
    #        - NODE_ENV=local        
    #    dockerfile: Dockerfile
    container_name: satosa-saml2spid
    depends_on:
      - satosa-mongo
    stdin_open: ${SATOSA_DEBUG:-false}   # enables PDB when attach to the compose
    tty: ${SATOSA_DEBUG:-false}   # enables PDB when attach to the compose
    environment:
      - SATOSA_BY_DOCKER=1
      - GET_IDEM_MDQ_KEY=${GET_IDEM_MDQ_KEY:-true}

      - BASE_DIR=/satosa_proxy
      - SATOSA_PRIVATE_KEY=${SATOSA_KEYS_FOLDER:-./pki}/${SATOSA_PRIVATE_KEY_FILENAME:-privkey.pem}
      - SATOSA_PUBLIC_KEY=${SATOSA_KEYS_FOLDER:-./pki}/${SATOSA_CERT_FILENAME:-cert.pem}
      - SATOSA_BASE=https://${SATOSA_HOSTNAME:-localhost}
      - SATOSA_BASE_STATIC=https://${SATOSA_HOSTNAME:-localhost}/static
      - SATOSA_DISCO_SRV=https://${SATOSA_HOSTNAME:-localhost}/static/disco.html
      - SATOSA_UNKNOW_ERROR_REDIRECT_PAGE=https://${SATOSA_HOSTNAME:-localhost}/static/error_page.html
      
      - MONGODB_USERNAME=${MONGO_DBUSER:-satosa}
      - MONGODB_PASSWORD=${MONGO_DBPASSWORD:-thatpassword}
      - SATOSA_ENCRYPTION_KEY=${SATOSA_ENCRYPTION_KEY:-CHANGE_ME!}
      - SATOSA_SALT=${SATOSA_SALT:-CHANGE_ME!}
      - SATOSA_STATE_ENCRYPTION_KEY=${SATOSA_STATE_ENCRYPTION_KEY:-CHANGE_ME!}

      - SATOSA_CONTACT_PERSON_EMAIL_ADDRESS=${SATOSA_CONTACT_PERSON_EMAIL_ADDRESS:-support.example@organization.org}
      - SATOSA_CONTACT_PERSON_TELEPHONE_NUMBER=${SATOSA_CONTACT_PERSON_TELEPHONE_NUMBER:-+3906123456789}
      - SATOSA_CONTACT_PERSON_FISCALCODE=${SATOSA_CONTACT_PERSON_FISCALCODE:-XXXXXX00X00X000Y}
      - SATOSA_CONTACT_PERSON_GIVEN_NAME=${SATOSA_CONTACT_PERSON_GIVEN_NAME:-Contact Me}
      - SATOSA_CONTACT_PERSON_IPA_CODE=${SATOSA_CONTACT_PERSON_IPA_CODE:-ipa00c}
      - SATOSA_CONTACT_PERSON_MUNICIPALITY=${SATOSA_CONTACT_PERSON_MUNICIPALITY:-H501}
      - SATOSA_ORGANIZATION_DISPLAY_NAME_EN=${SATOSA_ORGANIZATION_DISPLAY_NAME_EN:-Example Organization}
      - SATOSA_ORGANIZATION_DISPLAY_NAME_IT=${SATOSA_ORGANIZATION_DISPLAY_NAME_IT:-Example Organization}
      - SATOSA_ORGANIZATION_NAME_EN=${SATOSA_ORGANIZATION_NAME_EN:-example_organization}
      - SATOSA_ORGANIZATION_NAME_IT=${SATOSA_ORGANIZATION_NAME_IT:-example_organization}
      - SATOSA_ORGANIZATION_URL_EN=${SATOSA_ORGANIZATION_URL_EN:-https://example_organization.org}
      - SATOSA_ORGANIZATION_URL_IT=${SATOSA_ORGANIZATION_URL_IT:-https://example_organization.org/it}
      - SATOSA_UI_DESCRIPTION_EN=${SATOSA_UI_DESCRIPTION_EN:-Resource description}
      - SATOSA_UI_DESCRIPTION_IT=${SATOSA_UI_DESCRIPTION_IT:-Resource description}
      - SATOSA_UI_DISPLAY_NAME_EN=${SATOSA_UI_DISPLAY_NAME_EN:-Resource Display Name}
      - SATOSA_UI_DISPLAY_NAME_IT=${SATOSA_UI_DISPLAY_NAME_IT:-Resource Display Name}
      - SATOSA_UI_INFORMATION_URL_EN=${SATOSA_UI_INFORMATION_URL_EN:-https://example_organization.org/information_url}
      - SATOSA_UI_INFORMATION_URL_IT=${SATOSA_UI_INFORMATION_URL_IT:-https://example_organization.org/it/information_url}
      - SATOSA_UI_LOGO_HEIGHT=${SATOSA_UI_LOGO_HEIGHT:-60}
      - SATOSA_UI_LOGO_WIDTH=${SATOSA_UI_LOGO_WIDTH:-80}
      - SATOSA_UI_LOGO_URL=${SATOSA_UI_LOGO_URL:-https://example_organization.org/logo.png}
      - SATOSA_UI_PRIVACY_URL_EN=${SATOSA_UI_PRIVACY_URL_EN:-https://example_organization.org/privacy}
      - SATOSA_UI_PRIVACY_URL_IT=${SATOSA_UI_PRIVACY_URL_IT:-https://example_organization.org/it/privacy}
      - SATOSA_USER_ID_HASH_SALT=${SATOSA_USER_ID_HASH_SALT:-CHANGE_ME!}
    expose:
      - 10000
    ports:
      - "10000:10000"
    volumes:
       - /usr/share/zoneinfo/Europe/Rome:/etc/localtime:ro
       - ../docker-example:/satosa_proxy:rw
    working_dir: /satosa_proxy
    entrypoint: "sh entrypoint.sh"
    networks:
      - satosa-saml2spid
    healthcheck:
      test: wget -O - https://satosa-nginx/Saml2IDP/metadata --no-check-certificate || exit 1
      interval: 30s
      retries: 10
      start_period: 30s
      timeout: 30s

  satosa-nginx:
    image: nginx:alpine
    container_name: satosa-nginx
    depends_on:
      - satosa-saml2spid
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf_uwsgi_pass:/etc/nginx/nginx.conf:ro
      - ./nginx/50x.html:/usr/share/nginx/html/50x.html:ro
      - ./nginx/404.html:/usr/share/nginx/html/404.html:ro
      - ./nginx/403.html:/usr/share/nginx/html/403.html:ro
      - nginx_certs:/etc/nginx/certs:ro
      - ../docker-example/static:/var/www/html
    networks:
      - satosa-saml2spid
    environment:
      - NGINX_HOST=${SATOSA_HOSTNAME:-localhost}

  spid-samlcheck:
    image: italia/spid-saml-check
    container_name: spid-samlcheck
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-0}
    ports:
      - "8443:8443"
    networks:
      - satosa-saml2spid

volumes:

  mongodata:
    name: satosa-saml2spid_mongodata
    external: true

  nginx_certs:
    name: satosa-saml2spid_nginx_certs
    external: true

networks:
  satosa-saml2spid:
    name: satosa-saml2spid
