{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock title %}</title>

  <link rel="stylesheet" href="/static/css/style.css">

  <link rel="stylesheet" href="/static/bootstrap-italia/css/bootstrap-italia.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/static/js/jquery-3.7.0.min.js"></script>
</head>

<body>
  <h1>{{ title }}</h1>
  {% block body %}{% endblock %}
  <script src="/static/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>
</body>
</html>
