{% extends "base.html" %}


{% block body %}
<div class="py-md-5 bd-content">
    <div class="card-wrapper card-space">
       <div class="card card-bg no-after">
          <div class="card-body">
             <div class="row">
                <p id="content-title" class="qr-code-title text-center">Inquadra il codice QR</p>
             </div>
             <div id="content" class="text-center">
                <div class="row">
                   <div id="content-text" class="qr-code-text">Usa la funzionalità "Inquadra" dell'app IO per accedere con IT Wallet al servizio.</div>
                </div>
                <br>
                <div id="content-qrcode" class="row">
                   <div id = "content-qrcode-payload">
                    <qr-code
                        contents="{{ qrcode_text }}"
                        module-color="{{ qrcode_color }}"
                        position-ring-color="{{ qrcode_color }}"
                        position-center-color="{{ qrcode_color }}",
                        style="
                            width: {{ qrcode_size }}px;
                            height: {{ qrcode_size }}px;
                            margin: 2em auto;
                            background-color: #fff;
                        "
                        >
                        <img class="icon-qr-code" src="{{ static+qrcode_logo_path }}" slot="icon" />
                        </qr-code>
                    </div>
                   <div id="content-qrcode-info">
                      <p id="content-qrcode-info-text" class="text-helper text-info">
                         Il codice è valido per <b id="timer"></b> secondi
                      </p>
                      <p id="content-qrcode-subtitle" class="qr-code-text" hidden>
                         Puoi trovarla direttamente all'interno dell'app IO. 
                         Se hai più dispositivi mobili,
                         scegli su quale dispositivo preferisci ricevere le notifiche.
                      </p>
                      <div id="content-function" class="text-center button-container mt-2">
                         <button class="btn btn-outline-primary"
                            action="action"
                            onclick="window.history.go(-1); return false;"
                            >
                         <span>Indietro</span>
                         </button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

<script>
    let failureTitle = "Autenticazione fallita.";
    let failureText = "Qualcosa non ha funzionato. Premi “Riprova” per autenticarti nuovamente oppure segui le istruzioni visibili sull’app IO.";
    let crossImg = "{{ static }}"+"img/cross.svg";

    let startingConnectionTitle = "Continua sul tuo smartphone";
    let startingConnectionText = "Per proseguire, segui le istruzioni sull'app IO e autorizza l'accesso";
    let startingConnectionQRInfo = "<b>Non hai ricevuto la notifica?</b>";

    let clickAccessLabel = "Vai al servizio";
    let connectedTitle = "Autenticazione completata";
    let connectedText = "Da questo momento puoi iniziare a utilizzare il servizio";
    let connectedImg = "{{ static }}"+"img/check.svg";
    let qrCodeExpiredInfo = "Il QR code non è più valido.";
    let qrCodeReloadLabel = "Aggiorna codice QR";
    let retryLabel = "Riprova";

    let expirationTime = "{{ qrcode_expiration_time }}";
    let pollingInterval;

    function StartQRcodeScanCheck(){
        $('#timer').text(expirationTime); 
        let timeout = expirationTime*1000;
        pollingInterval = setTimeout(QRcodeScanCheck, 1000);
    }

    function Forbidden(data, textStatus, jqXHR){
        console.log('403: Forbidden');
        errorPage();
    }

    function connectionCompleted(data, textStatus, jqXHR) {
        console.log('authenticated');

        clearInterval(countdown);
        changeTitle(connectedTitle);
        changeText(connectedText);
        changeQrCodeImg(connectedImg);
        $('#content-qrcode-info').html(`
            <div id="content-function" class="text-center button-container mt-2">
                <button href="${data.response_url}" 
                    class="btn btn-primary" 
                    aria-haspopup="false" 
                    aria-expanded="false" 
                    data-focus-mouse="false"
                >
                <span>${clickAccessLabel}</span>
                </button>
            </div>`
        );
    }

    function QRcodeExpired(){
        console.log('session expired');
        blankQRcode();
        clearInterval(countdown);
        changeQrCodeInfo(qrCodeExpiredInfo);
        $('#content-function').append(`
            <button
                class="btn btn-primary" 
                aria-haspopup="false" 
                aria-expanded="false" 
                data-focus-mouse="false"
                onclick="window.location.reload(true)"
            >
                <b>${qrCodeReloadLabel}</b>
            </button>`
        );
    }

    function serverError(data, textStatus, jqXHR){
        console.log('500: Server Error');
        errorPage()
    }

    function errorPage(){
        clearInterval(countdown);
        changeTitle(failureTitle);
        changeText(failureText);
        changeQrCodeImg(crossImg);
        $('#content-qrcode-info').html(`
            <div id="content-function" class="text-center button-container mt-2">
                <button href="" 
                    class="btn btn-outline-primary" 
                    aria-haspopup="false" 
                    aria-expanded="false" 
                    data-focus-mouse="false"
                >
                <span>${retryLabel}</span>
                </button>
            </div>`
        );
    }

    function changeTitle(str){
        $('#content-title').html(str);
    }

    function changeText(str){
        $('#content-text').html(str);
    }

    function changeQrCodeInfo(str){
        $('#content-qrcode-info-text').html(str);
    }
    function changeQrCodeImg(str){
        $('#content-qrcode-payload').html(`<img src="${str}" alt="qr-code" style="width: 10em; height: 10em;">`);
    }
    function blankQRcode(){
        $('#content-qrcode-payload').css({
            'opacity': '0.2'
        });

    }

    var countdown = setInterval(function() {
        $('#timer').text(expirationTime);
        expirationTime--;
        if (expirationTime < 0) {
            clearInterval(countdown);
            clearTimeout(pollingInterval);
            QRcodeExpired();
        }
    }, 1000);

    function QRcodeScanCheck() {
      let endpointSatosa = "{{ status_endpoint }}";
      let data = {
        "id": "{{ state }}", 
      };

      let ajaxRequest = $.ajax({
        type: 'GET',
        url: endpointSatosa,
        data,
        statusCode: {
          201: StartQRcodeScanCheck,
          200: connectionCompleted,
          400: Forbidden,
          401: Forbidden,
          403: Forbidden,
          500: serverError,
        }
      });

      return ajaxRequest;
    }

    StartQRcodeScanCheck();


</script>

{% endblock body %}
