{% extends "base.html" %}


{% block body %}
<div class="qr-code-box">
    <div class="card-body">
        <div class="row border-md-bottom-title">
            <p id="content-title" class="qr-code-title">Inquadra il QR code</p>
        </div>
        <div id="content" class="col-lg-12 text-center">
            <div class="row">
                <div id="content-text" class="qr-code-text">Usa la funzionalità "inquadra" disponibile nell'app IO.</div>
                </div>
            <br>
            <div id="content-qrcode" class="row">
                <span><img width="62%" src='data:image/svg+xml;base64,{{ qrcode_base64 }}'></span>
                <div id="content-qrcode-info">
                    <p id="content-qrcode-info-text" class="text-helper text-info">Il codice è valido per <b id="timer"></b> secondi</p>
                    <p id="content-qrcode-subtitle" class="qr-code-text" hidden>Puoi trovarla direttamente all'interno dell'app IO. Se hai più dispositivi mobili con l'app IO, scegli su quale dispositivo preferisci ricevere le notifiche.</p>
                </div>
            </div>
<!--
            <div class="row">
                <div id="content-function" class="col-lg-2 text-center button-container">
                    <button class="btn btn-outline-primary">
                        <span>Annulla</span>
                    </button>
                </div>
            </div>
-->
        </div>
    </div>
</div>

<script>
    let failureTitle = "Autenticazione fallita";
    let failureText = "Qualcosa non ha funzionato. Genera un nuovo QR code per riprovare oppure segui le istruzioni visibili sull'app IO.";

    let startingConnectionTitle = "Continua sul tuo smartphone";
    let startingConnectionText = "Per proseguire, segui le istruzioni sull'app IO e autorizza l'accesso";
    let startingConnectionQRInfo = "<b>Non hai ricevuto la notifica?</b>";

    let connectedTitle = "Autenticazione effettuata!";
    let connectedText = "A breve potrai iniziare ad utilizzare il servizio.";

    let qrCodeExpiredInfo = "Il QR code non è più valido.";

    let expirationTime = 126;
    let pollingInterval;

    function StartQRcodeScanCheck(){
        $('#timer').text(expirationTime);
        pollingInterval = setTimeout(QRcodeScanCheck, 5000);
    }

    function connectionCompleted(data, textStatus, jqXHR) {
        console.log('redirectToSP');

        clearInterval(countdown);
        changeTitle(connectedTitle);
        changeText(connectedText);
        changeQrCodeInfo(null)
        $('#content-function').attr('hidden', true);

        //redirect to SP
    }

    function connectionStarted(data, textStatus, jqXHR) {
        console.log('201: starting Connection')

        clearInterval(countdown);
        changeTitle(startingConnectionTitle);
        changeText(startingConnectionText);
        blankQRcode();
        $('#content-qrcode-subtitle').removeAttr('hidden');
        changeQrCodeInfo(startingConnectionQRInfo)
        
        //Sets up a qrcode scan status check once again
        StartQRcodeScanCheck();
    }

    function QRcodeExpired(){
        console.log('session expired');
        changeQrCodeInfo(qrCodeExpiredInfo);
    }

    function serverError(data, textStatus, jqXHR){
        console.log('500: Server Error');
        clearInterval(countdown);
        changeTitle(failureTitle);
        changeText(failureText);
        blankQRcode();
        changeQrCodeInfo(null)
    }

    function changeTitle(str){
        $('#content-title').html(str);
    }

    function changeText(str){
        $('#content-text').html(str);
    }

    function changeQrCodeInfo(str){
        $('#content-qrcode-info-text').html(str);
    }

    function blankQRcode(){
        $('#content img').replaceWith('<div style="width: 12em; height: 12em; background-color: gray; margin: 0 auto;"></div>');
    }

    var countdown = setInterval(function() {
        $('#timer').text(expirationTime);
        expirationTime--;
        if (expirationTime < 0) {
            clearInterval(countdown);
            clearTimeout(pollingInterval);
            QRcodeExpired();
        }
    }, 1000);

    function QRcodeScanCheck() {
      let endpointSatosa = 'https://demo.proxy.eudi.wallet.developers.italia.it/OpenID4VP/status';
      let data = {
        "id": "{{ state }}", 
      };

      let ajaxRequest = $.ajax({
        type: 'GET',
        url: endpointSatosa,
        data,
        statusCode: {
          302: connectionCompleted,
          201: connectionStarted,
          200: StartQRcodeScanCheck,
          500: serverError,
        }
      })

      return ajaxRequest;
    }

    StartQRcodeScanCheck();
</script>

{% endblock body %}
